@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --main-bg-color: white;
    --main-font-family: 'DM Sans', sans-serif;
    --secondary-font-famiy: lato;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --color-accent: #0062ad;
    --text-color-dark: #1a1a1f;
    --text-color-light: #f4f5f6;
    --body-container-margin: 0 15%;
    --font-size-body: 10px;
    --font-size-normal: 1.1rem;
    --font-size-titles: 1.2rem;
    --font-size-big-titles: 1.6rem;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--main-font-family);
    font-weight: var(--font-weight-regular);
    color: var(--text-color-dark);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--main-font-family);
}

h2 {
    font-size: var(--font-size-big-titles);
}

h3 {
    font-size: var(--font-size-titles);
}

.hidden {
    display: none !important;
}

section {
    margin: 60px auto;
    min-height: 300px;
}


.grow {
    flex-grow: 1;
}


footer {
    background-color: white;
    padding: 20px 0;
    text-align: center;
    font-size: var(--font-size-normal);
    color: var(--text-color-dark);
}

.container {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
}

section>.container {
    margin: 0 auto;
    max-width: 1200px;
}

header {
    margin: 0 auto;
    width: 100%;
}

.hero {
    background-color: var(--main-bg-color);
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color-light);
    background-color: black;
}

.info-section {
    background-color: var(--main-bg-color);
    min-height: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--text-color-dark);
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.info h2 {
    font-size: var(--font-size-big-titles);
}

.info p {
    font-size: var(--font-size-normal);
}

.foundations-section {
    background-color: var(--main-bg-color);
    min-height: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--text-color-dark);
    flex-direction: column;
    gap: 50px;
}

.foundations-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    max-width: 1200px;
}

div .blue-link {
    display: flex;
    justify-content: center;
}

.blue-link.left-align {
    justify-content: flex-start;
}

.blue-link a {
    color: var(--color-accent);
    text-decoration: none;
    font-size: var(--font-size-titles);
}

.cards-section {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--text-color-dark);
}

.card-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 13px;
    border: 2px solid #eaeaea;
    padding: 20px;
    border-radius: 10px;
    max-width: 350px;
}

.card h3 {
    font-size: var(--font-size-titles);
    color: var(--color-accent);
}

.card p {
    font-size: var(--font-size-normal);
}



.gl-box-earth .gl-img img {
    width: 100%;
    height: auto;
}

.gl-box-os .gl-img img {
    width: 100%;
    max-width: 200px;
    height: auto;
}

.gl-img {
    margin: 20px auto;
}


.gl-box-earth {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 40px 0;
}

.gl-box-os {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    margin: 40px 0;
}

.gl-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.industry-div img {
    width: 120px;
    height: auto;
}

.industry-section {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: var(--text-color-dark);
}

.industry-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 40px 0;
    max-width: 350px;
}

.colored-card-box {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.colored-card {
    background-color: var(--color-accent);
    color: var(--text-color-light);
    border: 2px solid var(--color-accent);
    min-height: 220px;
    padding: 70px 20px;
    max-width: 500px;
}

.colored-card h3 {
    font-size: var(--font-size-titles);
    color: var(--text-color-light);
}

.colored-card img {
    max-width: 50px;
}

@media (min-width: 700px) {
    .hero {
        min-height: 400px;
    }

    .info-section {
        min-height: 400px;
    }

    .foundations-section {
        min-height: 400px;
        display: flex;
    }

    .cards-section {
        min-height: 400px;
    }

    .industry-section {
        min-height: 400px;
    }

    .colored-card-box {
        min-height: 400px;
    }


    .info {
        flex-direction: row;
        gap: 40px;
        justify-content: center;
        align-items: center;
    }

    .foundations-div {
        flex-direction: row;
        gap: 40px;
        justify-content: space-around;
        align-items: center;
    }

    .card-div {
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    .title-div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .industry-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .colored-card-box {
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .gl-box-earth .gl-img img {
        max-width: 500px;
        height: auto;
    }

    .gl-box-os .gl-img img {
        max-width: 260px;
        height: auto;
    }

    .gl-box-earth {
        flex-direction: row;
        gap: 40px;
        margin: 40px 0;
    }

    .gl-box-os {
        flex-direction: row;
        gap: 40px;
        margin: 40px 0;
    }

    .gl-text {
        flex-direction: column;
        gap: 30px;
        max-width: 50%;
        justify-content: center;
        align-items: flex-start;
    }

    .gl-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section > .container {
        margin: 0 auto;
        max-width: 1600px;
    }

}